@media (min-width: 1600px) {
    .image .text {
        text-shadow: 0.2rem 0.2rem 0 #6C898C;
        font-size: 5rem;
        letter-spacing: 0.3rem;
    }

    .image  input {
        right: 7.5%;
        bottom: 20%;
        font-size: 3rem;
        box-shadow: 0.5rem 0.5rem 0 #313E40;
    }
}

@media (max-width: 1600px) {
    .image .text {
        text-shadow: 0.2rem 0.2rem 0 #6C898C;
        font-size: 5rem;
        letter-spacing: 0.3rem;
    }

    .image  input {
        right: 7.5%;
        bottom: 20%;
        font-size: 3rem;
        box-shadow: 0.5rem 0.5rem 0 #313E40;
    }
}

@media (max-width: 1280px) {
    .image .text {
        text-shadow: 0.1rem 0.1rem 0 #6C898C;
        font-size: 3.25rem;
        letter-spacing: 0.15rem;
    }

    .image  input {
        right: 7.5%;
        bottom: 15%;
        font-size: 2.5rem;
        box-shadow: 0.5rem 0.5rem 0 #313E40;
    }
}

@media (min-width: 720px) {
    .image .figure {
        background-image: linear-gradient(128.25grad,rgba(49,62,64, .7) 55%,rgba(0,0,0,0) 60%);
    }

    .image .text span {
        margin-left: 10%;
        margin-top: 25vh;
        display: inline-block;
    }
}

@media (max-width: 720px) {
    .image .figure {
        background-image: linear-gradient(180grad,rgba(49,62,64, .7) 55%,rgba(0,0,0,0) 100%);
    }

    .image .text {
        text-shadow: 0.1rem 0.1rem 0 #6C898C;
        font-size: 3.5rem;
        letter-spacing: 0.15rem;
        text-align: center;
    }

    .image .text span {
        margin-top: 5rem;
        display: inline-block;
    }

    .image  input {
        display: inline-block;
        width: 65%;
        right: 20%;
        bottom: 20%;
        font-size: 2rem;
        box-shadow: 0.5rem 0.5rem 0 #313E40;
    }
}

@media (min-width: 320px) {
    .image .slide {
        background-image: url("../images/slider/slide2.jpg");
    }
}

@media (max-width: 320px) {
    .image .text {
        text-shadow: 0.05rem 0.05rem 0 #6C898C;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        text-align: center;
    }

    .image  input {
        padding: 1rem 0;
        display: inline-block;
        width: 90%;
        right: 5%;
        bottom: 20%;
        font-size: 1.5rem;
        box-shadow: 0.25rem 0.25rem 0 #313E40;
    }

    .image .slide {
        background-image: url("../images/slider/slide4.jpg");
    }
}

.recommended {
    position: relative;
    background-color: #7cc2ff;
    height: 100vh;
}

.recommended .slides {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 5%;
    width: 80%;
    height: 80%;
}

.recommended .slides img {
    width: 100%;
    height: 100%;
}

.image {
    position: relative;
}

.image .slide {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
    height: 100vh;
}

.image .back {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(242,208,167, 0.2);
}

.image .figure {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.image .text {
    z-index: 2;
    color: #F2D0A7;
    position: absolute;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.image  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 3;
    transition: 0.5s;
    position: absolute;
    color: white;
    background-color: #15ab5c;
    border: none;
}

.image input:hover {
    background-image: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,.1));
    box-shadow: none;
    cursor: pointer;
}
