@media (min-width: 1600px) {
    .logo {
        display: grid;
        grid-template-columns: 15% 80%;
    }

    .header .container {
        width: 80%;
    }
}

@media (max-width: 1600px) {
    .logo {
        display: grid;
        grid-template-columns: 30% 80%;
    }

    .header .container {
        width: 80%;
    }
}

@media (max-width: 1280px) {
    .logo {
        display: grid;
        grid-template-columns: 40% 80%;
    }

    .header .container {
        width: 90%;
    }
}

@media (min-width: 720px) {
    .logo .text {
        text-align: left;
    }

    .header .container {
        width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        height: 100%;
    }

    .phone .block {
        margin-left: auto;
    }

    .form {
        margin: auto auto;
    }
}

@media (max-width: 720px) {
    .logo {
        margin: 1rem 5%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .logo .text {
        text-align: right;
    }

    .header .container {
        display: grid;
        grid-template-rows: auto auto;
        margin: 0 auto;
    }

    .phone .block {
        margin: 0 auto;
    }

    .form {
        margin: auto 0;
    }
}

@media (min-width: 320px) {
    .phone input {
        width: 95%;
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .logo {
        margin: 1rem 5%;
        display: inline-block;
    }

    .logo .form {
        display: none;
    }

    .logo .text {
        width: 100%;
        text-align: center;
    }

    .header .container {
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        margin: 0 auto;
    }

    .phone .block {
        margin: 0 auto;
    }

    .phone input {
        width: 95%;
        font-size: 1.5rem;
        margin: 0 auto;
        padding: 1rem 0;
    }
}

.header {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: #B4D2D9;
    box-shadow: 0 0 1rem black;
}

.phone {
    color: #313E40;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: right;
    font-size: 1.5rem;
}

.phone input {
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 0.5s;
    color: #313E40;
    background-color: #F2D0A7;
    border: none;
    box-shadow: 0.3rem 0.3rem 0 #6C898C;
}

.phone input:hover {
    background-image: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,.1));
    box-shadow: none;
    cursor: pointer;
    color: #313E40;
}

.phone .block {
    text-align: center;
    max-width: 300px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.form {
    width: 5rem;
    height: 5rem;
    display: grid;
    grid-template-columns: 46% 8% 46%;
}

.left {
    display: grid;
    grid-template-rows: 56% 8% 36%;
}

.right {
    display: grid;
    grid-template-rows: 36% 8% 56%;
}

.poly {
    background-color: #F2D0A7;
    box-shadow: 0.3rem 0.3rem 0 #6C898C;
}

.logo:hover .left {
    display: grid;
    grid-template-rows: 36% 8% 56%;
}

.logo:hover .right {
    display: grid;
    grid-template-rows: 56% 8% 36%;
}

.logo .text {
    display: inline-block;
    color: #F2D0A7;
    text-shadow: 0.2rem 0.2rem 0 #6C898C;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    margin: auto 0;
}

.phone .call {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 15% auto;
}

.phone .icon {
    background-position-x: center ;
    background-repeat: no-repeat;
    background-size: 60%;
    background-image: url("../images/phone-icon.svg");
}

.phone a {
    color: #313E40 !important;
    text-decoration: none;
}
