@media (min-width: 1600px) {
    .test-cost input[type=number] {
        font-size: 4rem;
        height: 5rem;
    }

    .test-cost .title{
        font-size: 4rem;
        letter-spacing: 0.3rem;
        text-shadow: 0.2rem 0.2rem 0 #999;
    }

    .test-cost ul {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .test-cost input[type=number] {
        font-size: 3.5rem;
        height: 4rem;
    }

    .test-cost select {
        height: 4rem;
        font-size: 2rem;
    }

    .test-cost label {
        margin: 3rem 0;
        font-size: 3.5rem;
    }
}

@media (max-width: 1600px) {
    .test-cost input[type=number] {
        font-size: 3.5rem;
        height: 4rem;
    }

    .test-cost select {
        height: 4rem;
        font-size: 2rem;
    }

    .test-cost .title{
        font-size: 4rem;
        letter-spacing: 0.3rem;
        text-shadow: 0.1rem 0.1rem 0 #999;
    }

    .test-cost ul {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .test-cost label {
        margin: 3rem 0;
        font-size: 4rem;
    }
}

@media (max-width: 1280px) {
    .test-cost input[type=number] {
        font-size: 2.5rem;
        height: 3rem;
    }

    .test-cost select {
        height: 3rem;
        font-size: 2rem;
    }

    .test-cost .title{
        text-shadow: 0.1rem 0.1rem 0 #999;
        font-size: 3.25rem;
        letter-spacing: 0.15rem;
    }

    .test-cost ul {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .test-cost label {
        margin: 2rem 0;
        font-size: 2.5rem;
    }
}

@media (max-width: 900px) {
    .test-cost input[type=number] {
        font-size: 2rem;
        height: 2.5rem;
    }

    .test-cost select {
        height: 2.5rem;
        font-size: 1.75rem;
    }

    .test-cost label {
        margin: 1.75rem 0;
        font-size: 2rem;
    }
}

@media (max-width: 720px) {
    .test-cost input[type=number] {
        font-size: 1.5rem;
        height: 2rem;
    }

    .test-cost select {
        height: 2rem;
        font-size: 1.25rem;
    }

    .test-cost .title{
        font-size: 2.5rem;
        letter-spacing: 0;
        text-shadow: 0.1rem 0.1rem 0 #999;
    }

    .test-cost ul {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .test-cost label {
        margin: 1rem 0;
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    .test-cost input[type=number] {
        font-size: 1rem;
        height: 1.5rem;
    }

    .test-cost select {
        height: 1.25rem;
        font-size: 1rem;
    }

    .test-cost label {
        margin: 1rem 0;
        font-size: 1rem;
    }
}

.test-cost {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #ccc;
}

.test-cost .title {
    display: inline-block;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 8vh;
    width: 100%;
    text-align: center;
}

.test-cost ul {
    margin: 0;
    padding: 10vh 5vh;
    list-style-type: none;
}

.test-cost .inputs {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.test-cost label {
    font-weight: bold;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 5vh;
    font-family: 'Montserrat', sans-serif;
    text-shadow: .2rem .2rem 0 #999;
}

.test-cost .label {
    display: inline-block;
    width: 100%;
}

.test-cost input[type=number] {
    text-indent: 1rem;
    border: 0.1rem solid black;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-shadow: .1rem .1rem 0 #999;
}

.test-cost select {
    text-indent: 1rem;
    background-color: white;
    border: .1rem solid black;
    font-family: 'Montserrat', sans-serif;
    text-shadow: .075rem .075rem 0 #999;
    cursor: pointer;
}

.test-cost .data {
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.test-cost .button-test {
    transition: .5s;
    width: 75%;
    height: 10vh;
    text-align: center;
    background-color: #007db7;
    line-height: 10vh;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: white;
    box-shadow: 1rem 1rem 0 #999;
}

.test-cost .button-test:hover {
    background-image: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,.1));
    box-shadow: none;
    cursor: pointer;
}

.test-cost .cost {
    width: 75%;
    margin: auto auto;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #007db7;
    text-shadow: .2rem .2rem 0 #999;
}