@media (min-width: 1280px) {
    .levels .title {
        text-shadow: 0.1rem 0.1rem 0 #6c898c;
        font-size: 4rem;
        letter-spacing: 0.3rem;
    }

    .levels .circle {
        width: 10rem;
        height: 10rem;
        clip-path: circle(5rem at 50% 5rem);
    }

    .levels li {
        width: 10rem;
    }

    .levels .dots {
        height: 5rem;
    }

    .levels .topic {
        width: 15rem;
        left: -2.5rem;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.1rem 0.1rem 0 #6c898c;
    }

    .levels .content {
        width: 15rem;
        left: -2.5rem;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.05rem 0.05rem 0 #313e40;
    }

    .levels input {
        width: 20rem;
        font-size: 2rem;
        height: 5rem;
        box-shadow: 0.5rem 0.5rem 0 #313e40;
    }
}

@media (max-width: 1280px) {
    .levels .title {
        text-shadow: 0.1rem 0.1rem 0 #6c898c;
        font-size: 3.25rem;
        letter-spacing: 0.15rem;
    }

    .levels .circle {
        width: 7.5rem;
        height: 7.5rem;
        clip-path: circle(3.75rem at 50% 3.75rem);
    }

    .levels li {
        width: 7.5rem;
    }

    .levels .dots {
        height: 3.75rem;
    }

    .levels .topic {
        width: 12rem;
        left: -2.25rem;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.05rem 0.05rem 0 #6c898c;
    }

    .levels .content {
        width: 12rem;
        left: -2.25rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.05rem 0.05rem 0 #313e40;
    }

    .levels input {
        width: 15rem;
        font-size: 1.5rem;
        height: 3rem;
        box-shadow: 0.5rem 0.5rem 0 #313e40;
    }
}

@media (min-width: 720px) {
    .levels ul {
        display: grid;
        grid-template-columns: repeat(5, auto);
    }
}

@media (max-width: 720px) {
    .levels .title {
        text-shadow: 0.1rem 0.1rem 0 #6c898c;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
    }

    .levels ul {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 2rem;
    }

    .block-dots {
        display: none;
    }

    .levels .circle {
        width: 10rem;
        height: 10rem;
        clip-path: circle(5rem at 50% 5rem);
    }

    .levels li {
        width: 10rem;
    }

    .levels .topic {
        width: 20rem;
        left: -5rem;
        font-size: 1.75rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.1rem 0.1rem 0 #6c898c;
    }

    .levels .content {
        width: 20rem;
        left: -5rem;
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.05rem 0.05rem 0 #313e40;
    }
}

@media (max-width: 320px) {
    .levels .topic {
        width: 15rem;
        left: -2.5rem;
    }

    .levels .content {
        width: 15rem;
        left: -2.5rem;
    }
}

.levels {
    position: relative;
    background-color: #f2d0a7;
    z-index: 3;
    margin: 0;
    display: grid;
}

.levels ul {
    padding: 0;
    text-align: center;
    margin: 0 auto;
}

.levels li {
    margin: 0 0.2rem;
    list-style-type: none;
}

.levels .title {
    display: inline-block;
    color: #313e40;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;
    text-align: center;
}

.levels .circle {
    background-color: #313e40;
}

.levels .dots {
    border-bottom: 0.4rem dotted #313e40;
    display: block;
    width: 100%;
}

.levels img {
    top: 12.5%;
    position: relative;
    width: 75%;
    height: 75%;
}

.levels .topic {
    position: relative;
    display: inline-block;
    color: #313e40;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.levels .content {
    position: relative;
    text-align: justify;
    display: inline-block;
    color: #6c898c;
}

.levels input {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 5vh auto;
    transition: 0.5s;
    color: white;
    background-color: #007db7;
    border: none;
}

.levels input:hover {
    background-image: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,.1));
    box-shadow: none;
    cursor: pointer;
}