@media (min-width: 1600px) {
    .reviews .title {
        font-size: 4rem;
        letter-spacing: 0.3rem;
        text-shadow: 0.2rem 0.2rem 0 #6c898c;
    }

    .reviews .blocks {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
}

@media (max-width: 1600px) {
    .reviews .title {
        font-size: 4rem;
        letter-spacing: 0.3rem;
        text-shadow: 0.1rem 0.1rem 0 #6c898c;
    }

    .reviews .blocks {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 2rem;
    }
}

@media (max-width: 1280px) {
    .reviews .title {
        text-shadow: 0.1rem 0.1rem 0 #6c898c;
        font-size: 3.25rem;
        letter-spacing: 0.15rem;
    }
}

@media (max-width: 720px) {
    .reviews .title {
        font-size: 2rem;
        letter-spacing: 0;
        text-shadow: 0.1rem 0.1rem 0 #6c898c;
    }

    .reviews .blocks {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 5rem;
    }
}

.reviews {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #313e40;
    color: #B4D2D9;
}

.reviews .title {
    display: inline-block;
    color: #B4D2D9;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;
    text-align: center;
}

.reviews .blocks {
    width: 100%;
    padding: 5vh 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #313e40;
    color: #B4D2D9;
}

.review {
    width: 100%;
}

.review .circle {
    display: inline-block;
    width: 100%;
}

.review .circle .image {
    margin-left: 12.5%;
    width: 75%;
    height: 75%;
}

.review .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 3vh 0;
    text-shadow: none;
}

.review .profession {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5vh;
    background: linear-gradient(45deg, #F77737 30%, #E1306C 60%, #833AB4 80%,  #405DE6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review .description {
    display: inline-block;
    margin-left: 20%;
    width: 60%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #999;
}
