@media (min-width: 1600px) {
    .advantages .title {
        font-size: 4rem;
        letter-spacing: 0.3rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .advantages .content .title {
        font-size: 1.75rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .advantages .content .description {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.1rem 0.1rem 0 #313E40;
        font-weight: bold;
    }

    .advantages .bricks {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
}

@media (max-width: 1600px) {
    .advantages .title {
        font-size: 4rem;
        letter-spacing: 0.3rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .advantages .content .title {
        font-size: 1.75rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .advantages .content .description {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        text-shadow: 0.1rem 0.1rem 0 #313E40;
        font-weight: bold;
    }

    .advantages .bricks {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 2rem;
    }
}

@media (max-width: 1280px) {
    .advantages .title {
        text-shadow: 0.1rem 0.1rem 0 #313e40;
        font-size: 3.25rem;
        letter-spacing: 0.15rem;
    }
}

@media (max-width: 900px) {
    .advantages .bricks {
        width: 80%;
    }
}

@media (max-width: 720px) {
    .advantages .title {
        font-size: 2rem;
        letter-spacing: 0;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .advantages .bricks {
        width: 60%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 5rem;
    }

    .advantages .content .title {
        font-size: 1.5rem;
        letter-spacing: 0.075rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .advantages .content .description {
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
        text-shadow: 0.1rem 0.1rem 0 #313E40;
    }
}

@media (max-width: 320px) {
    .advantages .bricks {
        width: 90%;
    }
}

.advantages {
    position: relative;
    text-align: center;
    color: #6c898c;
    background-image: url("../images/mat.jpg");
    z-index: 2;
    box-shadow: 0 0 1rem black;
}

.advantages .title {
    display: inline-block;
    margin-top: 8vh;
    margin-bottom: 7vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.advantages .bricks {
    padding-bottom: 10vh;
    margin: 0 auto;
    display: grid;
}

.advantages .brick {
    padding: 1vh 1vw;
    height: 100%;
}

.advantages .content {
    border-radius: 0.5rem;
    cursor: default;
    transition: 0.5s;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #6C898C;
    box-shadow: 0.3rem 0.3rem 0 #313e40;
}

.advantages .content:hover {
    background-image: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,.1));
    box-shadow: none;
}

.advantages .content .title {
    color: #B4D2D9;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.advantages .content .description {
    display: inline-block;
    padding: 0 1.5rem;
    text-align: left;
    color: #B4D2D9;
}
