@media (min-width: 1280px) {
    .material .slide .storage {
        box-shadow: 1rem 1rem 0 #313e40;
    }

    .material {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .material .description .title {
        font-size: 5rem;
        text-shadow: 0.2rem 0.2rem 0 #313e40;
    }

    .material .description .text {
        font-size: 1.75rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }
}

@media (max-width: 1600px) {
    .material .slide .storage {
        box-shadow: 0.5rem 0.5rem 0 #313e40;
    }

    .material {
        display: grid;
        grid-template-rows: repeat(2, auto);
    }

    .material .description .title {
        font-size: 3.5rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .material .description .text {
        font-size: 1.5rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }
}

@media (max-width: 1280px) {
    .material .slide .storage {
        box-shadow: 0.5rem 0.5rem 0 #313e40;
    }

    .material {
        display: grid;
        grid-template-rows: repeat(2, auto);
    }

    .material .description .title {
        font-size: 3.5rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .material .description .text {
        font-size: 1.5rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }
}

@media (max-width: 720px) {
    .material .slide .storage {
        box-shadow: 0.5rem 0.5rem 0 #313e40;
    }

    .material {
        display: grid;
        grid-template-rows: repeat(2, auto);
    }

    .material .description .title {
        font-size: 2rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }

    .material .description .text {
        font-size: 1.2rem;
        text-shadow: 0.1rem 0.1rem 0 #313e40;
    }
}

.material {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    background: linear-gradient(90deg, #313e40, #f2d0a7);
}

.material .description {
    position: relative;
    width: 100%;
}

.material .description .title {
    width: 100%;
    display: inline-block;
    margin: 5% auto 5% auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #B4D2D9;
}

.material .description .text {
    margin: 0 5%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    text-align: justify;
    color: #B4D2D9;
}

.material .slide {
    width: 100%;
    overflow: hidden;
}

.material .slide .storage {
    transition: 1s;
    background-color: #B4D2D9;
    border: 0.2rem solid #B4D2D9;
    margin: 5% 12.5%;
    width: 75%;
    height: 75%;
    max-height: 540px;
    overflow: hidden;
}

.material .slide .storage:hover {
    width: 75%;
    height: 75%;
    box-shadow: none;
}

.material .slide .storage img {
    transition: 1s;
    width: 100%;
    height: 100%;
}

.material .slide .storage img:hover {
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
}