.examples {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #B4D2D9 10%, #4b5f61);
}

.examples .title {
    display: inline-block;
    color: #313e40;
    text-shadow: 0.2rem 0.2rem 0 #6c898c;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.3rem;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;
    text-align: center;
}

.examples .blocks {
    margin-left: 2.5%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.examples .block {
    position: relative;
}

.examples .block .title {
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 3;
    position: absolute;
    left: 1.5vh;
    bottom: 4.4vh;
    width: 90%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
    color: #B4D2D9;
    text-shadow: none;
    line-height: 10vh;
}

.examples .image {
    background-color: white;
    border: 1.5vh solid white;
    margin: 2.5vh 0;
    width: 90%;
}