.button-up {
    transition: .5s;
    z-index: 999;
    background-color: black;
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    width: 5vh;
    height: 5vh;
    border: 0.1rem solid white;
}

.button-up:hover {
    cursor: pointer;
    background-color: white;
    border: 0.1rem solid black;
}

.icon-up {
    transition: .5s;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(5% 95%, 5% 70%, 50% 32.5%, 95% 70%, 95% 95%, 50% 57.5%);
}

.button-up:hover .icon-up{
    background-color: black;
    clip-path: polygon(5% 67.5%, 5% 42.5%, 50% 5%, 95% 42.5%, 95% 67.5%, 50% 30%);
}

input, select {
    outline: 0 !important;
}