.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer li {
    text-align: center;
}

.footer input {
    margin-right: 10vh;
    transition: 0.5s;
    color: white;
    font-size: 2rem;
    background-color: #15ab5c;
    height: 5vh;
    border: 0.1rem solid #15ab5c;
}

.footer .blue {
    background-color: #007db7;
    border-color: #007db7;
}

.footer input:hover {
    background-image: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,.1));
    cursor: pointer;
    background-color: black;
    border-color: white;
}

.footer .text {
    list-style-type: none;
    display: grid;
    grid-template-columns: 50% 50%;
}